.input {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #f9f9ff;
  border-radius: 50px;
  width: 250px;
  height: 62px;
  padding: 20px;
  margin: 0 0 30px 0;
}

.inputTitle {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #a03c78;
  margin: 10px 10px 10px 0px;
}
